body,
html {
    margin: 0;
    height: 100%;
    background: #FEFEFE;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contain {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.stretch {
    display: block;
    width: 100%;
    height: 100%;
}

.cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zoom-in-out-element {
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        scale: 100%;
    }

    50% {
        scale: 90%;
    }

    100% {
        scale: 100%;
    }
}